.modal {
	background-color: #000000ab;
}

.modal.open {
	display: block;
}

.title {
	display: flex;
	align-items: center;
}

.title .badge {
	margin-left: 10px;
}

.nav-tabs .nav-item {
	cursor: pointer;
}

.tab {
	padding: 15px 0 0 0;
}
