.modal {
	background-color: #000000ab;
}

.modal.open {
	display: block;
}

.title {
	display: flex;
	align-items: center;
}

.title .badge {
	margin-left: 10px;
}

.nav-tabs {
	position: sticky;
	top: -16px;

	background-color: white;
	z-index: 1;
}

.nav-tabs .nav-item {
	cursor: pointer;
}

.tab {
	padding: 15px 0 0 0;
}

.modal .spinner {
	position: fixed;
	left: 50%;
	top: 50%;
}

.list-group-item-source {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
