.list-group-item-action {
	cursor: pointer;
}

.name {
	font-weight: 500;
}

.alt {
	color: grey;
	font-size: small;
	font-style: italic;

	margin: 0;
	padding: 0;
}

.spinner {
	position: relative;
	top: -4px;
}
